Flask==2.2.5
flask-cors>=3.1.1
requests==2.26.0
google-api-python-client==2.32.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
SpeechRecognition==3.8.1
pyttsx3==2.90
Werkzeug==2.2.3
requests

